@charset "utf-8";

// placeholder色
$placeholderColor: #c3c3c3;

// メディアクエリの基準幅
$bp-sp: 720px;
$bp-pc: 721px;

// vwの基準となる幅 →320px=スマホ最小
$vw_standard_width: 375;

// transition
$transition01: 0.3s ease-in-out;

// color
//$main_color01: #f7828f;
$background_color01:rgb(240, 239, 239);
$headline_color01: #333;
$headline_color02: rgb(40, 133, 150);